.spz_627_v1 .hero{
    padding: 80px 0 30px;
    min-height: 400px;
}

.spz_627_v1 .hero::after{
    background-image: none;
}

.spz_627_v1 .hero .hero-content{
    text-align: center;
    max-width: 920px;
    margin: 0 auto;
}

.spz_627_v1 .hero .hero-subtitle{
    padding: 0;
    margin-bottom: 30px;
}

.spz_627_v1 .client-logo{
    padding: 30px 0 30px;
}
.spz_627_v1 .client-logo .client-logo-heading{
    font-size: 24px;
    font-weight: 500;
    line-height: 120% !important;
}
 
.spz_627_v1 .client-logo .client-logo-image{
    margin-bottom: 90px;
}

.spz_627_v1 .hero .hero-buttons .btn-primary{
    height: 56px;
    white-space: nowrap;
}
.spz_627_v1 .hero .hero-buttons .btn-secondary{
    width: 174px;
    height: 56px;
    white-space: nowrap;
}

.spz_627_v1 .client-logo:after{
    background-image: none !important;
}

@media(max-width: 1024px){
    .spz_627_v1 .hero{
        padding: 70px 0 46px;
    }
    .spz_627_v1 .hero .hero-subtitle{
        margin-bottom: 60px;
    }
    .spz_627_v1 .client-logo .client-logo-heading{
        font-size: 22px;
    }
    .spz_627_v1 .client-logo .client-logo-subheading{
        margin-bottom: 30px;
    }
    .spz_627_v1 .client-logo .client-logo-image{
        margin-bottom: 20px;
    }
}

@media(max-width: 767px){
    .spz_627_v1 .hero{
        padding: 0px;
        padding-top: 40px;
    }
    .spz_627_v1 .hero .hero-title{
        font-size: 36px;
        line-height: 124%;
    }
    .spz_627_v1 .hero .hero-subtitle{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .spz_627_v1 .hero .hero-buttons .btn-secondary{
        width: 100%;
    }
    .spz_627_v1 .client-logo{
        padding-top: 55px;
    }
    .spz_627_v1 .client-logo .client-logo-heading{
        font-size: 19px;
        font-weight: 700;
        line-height: 32px !important;
    }
    .spz_627_v1 .client-logo .client-logo-subheading{
        margin-bottom: 20px;
    }
}